:root {
    --primary-color: rgb(49, 49, 49);
    --secondary-color: blanchedalmond;
}

html {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: black;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 18px;
    background: #e0edf7;
}

/* begin header*/

header {
    width: 100%;
    display: flex;
    flex-flow: row;
    background-color: black;
    justify-content: space-between;
    height: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 20px;
}

header h1 a {
    flex-direction: column;
    justify-content: center;
    border-color: #5e5d5d;
}

header nav {
    align-self: flex-end;
}

header nav ul li {
    display: inline;
}

/* end header*/
/*begin hero*/

.hero {
    width: auto;
    height: 300px;
    background-image: url("../images/header-pic2.jpg");
    background-size: cover;
    background-position: 20%;
    display: flex;
    flex-direction: column-reverse;
}

.hero h2 {
    color: #d4c005;
    font-size: 36px;
    background-color: rgb(49, 49, 49);
    text-align: center;
    width: 215px;
    margin: 10px;
    padding: 10px;
}

/* end hero*/

/* begin body*/

/* about me */

.me {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1, 1fr;
    grid-gap: 15px;
    grid-auto-flow: dense;
    justify-self: center;
    padding: 25px;
}

.me-title {
    grid-column: 1;
    font-size: 3vh;
    align-self: center;
    text-align: center;
}

.para {
    grid-column: span 2;
    align-self: center;
}

.me-img {
    overflow: hidden;
    align-self: center;
}


/* about me end */

/* work */

.projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-flow: dense;
    position: relative;
    overflow: hidden;
    padding: 25px;
}

.proj {
    border: 5px solid rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: 80%;
    opacity: 0.5;
    position: relative;
    Color: var(--secondary-color);
}

.proj h3 {
    background-color: var(--primary-color);
}

.proj p {
    background-color: var(--primary-color);

}

.proj-title {
    grid-row: 1 / span 3;
    font-size: 3vh;
    justify-self: center;
}

.item-1 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    background-image: url("../images/back2work-login.jpg");
}

.item-2 {
    background-image: url("../images/sedona.jpg");

}

.item-3 {
    background-image: url("../images/cinemaSearch.png");
}

.item-4 {
    background-image: url("../images/tijuana.png");

}

.item-5 {
    background-image: url("../images/ship.png");
}

.proj:hover {
    opacity: 1;
}

.click-1,
.click-2,
.click-3,
.click-4,
.click-5 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    text-indent: -999em;
}

/* work end */

/* contact */

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3vh;
}

.links,
.link-title {
    display: inline;
    align-self: center;
}

.link-title {
    font-size: 3vh;
    text-align: center;
}

.links a {
    text-decoration: none !important;
    color: black !important;
}

/* contact end */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {

    /* no changes needed, the content fits well*/

}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
        display: center;
    }

    .me {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 150px, repeat(2, 1fr);
        grid-gap: 15px;
        grid-auto-flow: dense;
        justify-self: center;
        padding: 25px;
    }

    .me-title {
        grid-row: 1;
        grid-column: 2 / span 2;
        font-size: 3vh;
        align-self: center;
        text-align: center;
        height: 50%;
    }

    .para {
        grid-row: 2;
        grid-column: 2 / span 2;
        align-self: center;
    }

    .me-img {
        grid-row: 3;
        grid-column: 2 / span 2;
        overflow: hidden;
        align-self: center;
    }
}