:root {
    --primary-color: var(--primary-color);
    --secondary-color: blanchedalmond;
}

:any-link {
    text-decoration: none !important;
}

html {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: black;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 18px;
    background: #e0edf7;
}

/* begin header*/

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;

}

header a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 20px;
}

header h1 a {
    flex-direction: column;
    justify-content: center;
    background-color: rgb(54, 54, 54);
    text-align: center;
    width: 215px;
    margin: 10px;
    padding: 10px;
}

header nav {
    align-self: flex-end;
}

header nav ul li {
    display: inline;
}

/* end header*/
/*begin hero*/

.hero {
    width: auto;
    height: 300px;
    background-image: url("../images/header-pic2.jpg");
    background-size: cover;
    background-position: 20%;
    display: flex;
    flex-direction: column-reverse;
}

.hero-title {
    align-items: flex-end;
}

.hero h2 {
    color: #d4c005;
    font-size: 36px;
    background-color: rgb(49, 49, 49);
    text-align: center;
    width: 215px;
    margin: 10px;
    padding: 10px;
}

/* end hero*/

/* begin body*/

/* about me*/

.about-me {
    width: 100%;
    display: inline-grid;
}

.me {
    width: 30%;
    border-right: black 5px;
}

.para {
    width: 70%;
    align-content: space-around;
    display: inline;
}

.bio-img {
    height: 25%;
}

/* about me end*/
/* work */
.portfolio {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-flow: dense;
    position: relative;
    overflow: hidden;

}

.portfolio-title {
    grid-row: 1;
    grid-column: 1;
    border-right: black;
}


.proj {
    border: 5px solid rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: 80%;
    opacity: 0.5;
    position: relative;
}

.item-1 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    background-image: url("../images/coluseum.jpg");

}

.item-2 {
    grid-column: 4;
    grid-row: 1;
    background-image: url("../images/sedona.jpg");

}

.item-3 {
    grid-column: 4;
    grid-row: 2;
    background-image: url("../images/500-hero-mock-up-1 run buddy hero section.jpg");
}

.item-4 {
    grid-column: 2;
    grid-row: 2;
    background-image: url("../images/tijuana.png");

}

.item-5 {
    grid-column: 2;
    grid-row: 3;
    background-image: url("../images/ship.png");
}

.proj:hover {
    opacity: 1;
}

.click-1,
.click-2,
.click-3,
.click-4,
.click-5 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    text-indent: -999em;
}

/* work end */
/* contact */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.links ul li a {
    display: inline;
    text-decoration: none;
    color: black;
}

/* contact end*/

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px)

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px)

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px)